.App {
  display: flex;
  text-align: center;
  background-color: #282c34;
  color: ghostwhite;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
*::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.7);
  border-radius: 20px;
}
.sideMenu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.side-menu-btn {
  padding: 12px;
  border: 1px rgba(248, 248, 255, 0.200) solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.side-menu-btn:hover {
  background-color: #353740;
}

.side-menu-btn:first-child {
  width: 100%;
}


svg.bi.bi-plus {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.bottom-chat-input {
  bottom: 0;
  position: absolute;
  max-height: 135px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chat-input-holder {
  width: 80%;
  position: relative;
  max-width: 770px;
}

svg.h-4.w-4.m-1.md\:m-0 {
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 20px;
  right: 15px;
  opacity: 50%;
  transition: all .2s ease-in-out;
}

svg.h-4.w-4.m-1.md\:m-0:hover {
  opacity: 90%;
}

.chat-input-textarea {
  overflow: hidden;
  max-height: 200px;
  height: max-content;
  height: 52px;
  border-radius: 10px;
  background-color: #40414f;
  padding: 16px 48px 16px 16px;
  border: 1px solid #28282b94;
  box-shadow: #2e2e2e85 0 0 10px;
  color: ghostwhite;
  outline: none;
  line-height: 1.75em;
  width: 100%;
  resize: none;
}

.chat-log {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 74px 0 24px 0;
 width: 100%;
}

.center-msg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-message {
  width: 80%;
  position: relative;
  max-width: 770px;
  display: flex;
  padding: 24px 0 34px 0;
}

.avatar {
    height: 40px;
    width: 40px;
    padding: 8px;
    background-color: rgb(154, 0, 154);
    display: flex;
    align-items: center;
    font-size: medium;
    justify-content: center;
    border-radius: 0.2rem;
    box-shadow: #20212353 0 0 10px;
}

.chatgpt {
  background-color: #444654;
}

.chatgpt .avatar {
    background-color: #19c37d;
}

.message {
  padding: 10px 25px;
  font-size: medium;
}

.top-side-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5em;
}

a {
  color: ghostwhite;
}

p {
  width: 80%;
  text-align: center;
  font-size: small;
  color: rgba(248, 248, 255, 0.700);
}

.chatBox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
